body {
    background-color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding-left:2%;
}

main {
    display:flex;
    padding-left:18%; padding-top:3%;
}

.quadros {
    display:inline-block;
    margin-left:6%;
    background-color:rgb(199, 199, 199);
}

#quadro1 {
    width:270px; height:390px;
}

#quadro2 {
    width:280px; height:370px;
}

ul {
    padding-top:30%;
    list-style: none;
}

/* Responsive */


@media screen and (min-width:375px) and (max-width:389px){
    h2 {
        font-size:20px;
    }

    #quadro1 {
        width:300px; height:500px;
    }
    #quadro2 {
        width:300px; height:400px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-width:390px) and (max-width:411px){
    h2 {
        font-size:20px;
    }

    #quadro1 {
        width:300px; height:700px;
    }
    #quadro2 {
        width:300px; height:600px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-width:412px) and (max-width:500px){
    h2 {
        font-size:20px;
    }

    #quadro1 {
        width:300px; height:700px;
    }
    #quadro2 {
        width:300px; height:600px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-width:853px) and (max-width:900px){
    h2 {
        font-size:20px;
    }

    #quadro1 {
        width:300px; height:700px;
    }
    #quadro2 {
        width:300px; height:600px;
    }

    main {
        padding-left:1%;
    }
}


@media screen and (min-height:720px) and (max-height:739px){
    h2 {
        font-size:20px;
    }

    #quadro1 {
        width:300px; height:600px;
    }
    #quadro2 {
        width:300px; height:500px;
    }

    main {
        padding-left:0%;
    }
}

@media screen and (min-height:740px) and (max-height:799px){
    h2 {
        font-size:20px;
    }

    #quadro1 {
        width:300px; height:600px;
    }
    #quadro2 {
        width:300px; height:500px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-height:800px) and (max-height:881px){
    h2 {
        font-size:50px;
    }

    #quadro1 {
        width:300px; height:600px;
    }
    #quadro2 {
        width:300px; height:500px;
    }

    main {
        padding-left:15%;
    }
}

@media screen and (min-height:882px) and (max-height:900px){
    h2 {
        font-size:25px;
    }

    #quadro1 {
        width:300px; height:700px;
    }
    #quadro2 {
        width:300px; height:600px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-height:914px) and (max-height:1000px){
    h2 {
        font-size:25px;
    }

    #quadro1 {
        width:300px; height:800px;
    }
    #quadro2 {
        width:300px; height:700px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-height:1024px) and (max-height:1100px){
    h2 {
        font-size:30px;
    }

    #quadro1 {
        width:300px; height:800px;
    }
    #quadro2 {
        width:300px; height:700px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-height:1180px) and (max-height:1200px){
    h2 {
        font-size:40px;
    }

    #quadro1 {
        width:300px; height:900px;
    }
    #quadro2 {
        width:300px; height:800px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-height:1280px) and (max-height:1300px){
    h2 {
        font-size:40px;
    }

    #quadro1 {
        width:300px; height:1000px;
    }
    #quadro2 {
        width:300px; height:900px;
    }

    main {
        padding-left:1%;
    }
}


@media screen and (min-height:1366px) and (max-height:1400px){
    h2 {
        font-size:40px;
    }

    #quadro1 {
        width:400px; height:1100px;
    }
    #quadro2 {
        width:400px; height:1000px;
    }

    main {
        padding-left:1%;
    }
}





