body {
    background-color:whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    padding-left:2%;
}

main {
    display:flex;
    padding-left:18%; padding-top:3%;
}

.quadros {
    display:inline-block;
    margin-left:6%;
    background-color:rgb(199, 199, 199);
}

#quadro1 {
    width:270px; height:390px;
}

#quadro2 {
    width:280px; height:370px;
}

ul {
    padding-top:30%;
    list-style: none;
}

/* Responsive */

@media screen and (min-width:0px) and (max-width:380px){
    h2 {
        font-size:20px;
    }

    #quadro1 {
        width:500px; height:500px;
    }
    #quadro2 {
        width:300px; height:400px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-width:401px) and (max-width:851px){
    h2 {
        font-size:30px;
    }

    #quadro1 {
        width:300px; height:700px;
    }
    #quadro2 {
        width:300px; height:500px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-width:540px) and (max-width:720px){
    h2 {
        font-size:30px;
    }

    #quadro1 {
        width:300px; height:500px;
    }
    #quadro2 {
        width:300px; height:400px;
    }

    main {
        padding-left:1%;
    }
}

@media screen and (min-width:852px) and (max-width:1000px){
    h2 {
        font-size:40px;
    }
    #quadro1 {
        width:500px; height:900px;
    }
    #quadro2 {
        width:300px; height:800px;
    }
    main {
        padding-left:0%;
    }
}


@media screen and (min-width:1020px) and (max-width:1400px){
    h2 {
        font-size:60px;
    }
    #quadro1 {
        width:500px; height:1000px;
    }
    #quadro2 {
        width:500px; height:700px;
    }
    main {
        padding-left:0%;
    }
}

@media screen and (min-width:1024px) and (max-width:2000px){
    h2 {
        font-size:30px;
    }
    #quadro1 {
        width:270px; height:400px;
    }
    #quadro2 {
        width:400px; height:300px;
    }
    main {
        padding-left:6%;
    }
}

@media screen and (min-height:1024px) and (max-height:1370px){
    h2 {
        font-size:60px;
    }
    #quadro1 {
        width:700px; height:900px;
    }
    #quadro2 {
        width:400px; height:800px;
    }
    main {
        padding-left:0%;
    }
}

@media screen and (min-height:882px) and (max-height:900px){
    h2 {
        font-size:25px;
    }
    #quadro1 {
        width:700px; height:700px;
    }
    #quadro2 {
        width:400px; height:600px;
    }
    main {
        padding-left:0%;
    }
}


@media screen and (min-height:800px) and (max-height:880px){
    h2 {
        font-size:50px;
    }
    #quadro1 {
        width:700px; height:600px;
    }
    #quadro2 {
        width:400px; height:500px;
    }
    main {
        padding-left:0%;
    }
}

@media screen and (min-height:844px) and (max-height:850px){
    h2 {
        font-size:30px;
    }
    #quadro1 {
        width:700px; height:600px;
    }
    #quadro2 {
        width:400px; height:500px;
    }
    main {
        padding-left:0%;
    }
}